.attribution {
    font-size: 11px;
    text-align: center;
    padding: 1em 0.5em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    margin: 0;
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}


img {
    display: block;
    max-width: 100%;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* styling start */

.card {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    width: 90%;
    margin: 1em auto;
    background-color: hsl(244, 38%, 16%);
    border-radius: 5px;
}



.hero {
    background-color: hsl(277, 64%, 61%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.hero__img {
    mix-blend-mode: multiply;
    width: 100%;
}

.content {
    padding: 1em 2.2em;
}

.content--violet {
    color: hsl(277, 64%, 61%);
}

.content p {
    color: hsla(0, 0%, 100%, 0.75);
}

.numbers > * {
    padding: 0 1em;
}

.numbers p {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.0em;
    color: hsla(0, 0%, 100%, 0.6);
}

.numbers h2 {
    /* dissplay: inline-block; */
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}



@media (min-width: 375px) {
    .container {
        margin: 20 auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .numbers {
        display: flex;
        justify-self: center;
        align-self: center;
    }

    .hero {
        /* background-color: hsl(277, 64%, 61%); */
        border-top-left-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .main {
        width: 50%;
    }

    .hero {
        width: 50%;
    }
}