.attribution {
    color: #fff;
    font-size: 11px;
    text-align: center;
    padding: 1em 0.5em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    margin: 0;
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

img {
    display: block;
    max-width: 100%;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* styling start */

.card {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    width: 90%;
    margin: 1em auto;
    background-color: hsl(244, 38%, 16%);
    border-radius: 5px;
}

.main {
    padding: 1em 4em;
}

.hero {
    background-color: hsl(277, 64%, 61%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.hero__img {
    mix-blend-mode: multiply;
    width: 100%;
}

.content {
    text-align: left;
}

.content--violet {
    color: hsl(277, 64%, 61%);
}

.content p {
    color: hsla(0, 0%, 100%, 0.75);
}

.numbers {
    display: flex;
    margin: 3em 0 1em;
    flex-direction: column;
    gap: 2.5em;
}

.numbers p {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    margin: 0.5em 0 0 0;
    font-weight: 400;
    font-size: 1.0em;
    color: hsla(0, 0%, 100%, 0.6);
}

.numbers h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin: 0;
}

@media (min-width: 375px) {
    h1 {
        font-size: 2em;
    }
    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    .numbers {
        flex-direction: row;
        text-align: left;
        display: flex;
        justify-self: flex-start;
        align-self: flex-start;
    }
    .hero {
        /* background-color: hsl(277, 64%, 61%); */
        border-top-left-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .main {
        width: 50%;
    }
    .hero {
        width: 50%;
    }
}