/* Box sizing rules */

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --desaturated-blue: hsl(229, 23%, 23%);
    --grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    /* - Font size (name and stats): 18px */
    /* ### Font */
    --fs: 18px;
    --ff: 'Kumbh Sans', sans-serif;
    /* Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans) 
   Weights: 400, 700 */
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */

body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Set core body defaults */

body {
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-family: var(--ff);
}

/* Make images easier to work with */

img {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */

input, button, textarea, select {
    font: inherit;
}

hr {
    border: 0;
    border-top: 1px solid var(--dark-gray);
    opacity: 0.2;
}

.main {
    color: var(--dark-gray);
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--dark-cyan);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    /* background-position: -62% -496px, 150% calc(100% + 632px); */
    /* background-position: -62% -496px, 150% calc(100% + 632px); */
    background-position: calc(50% - 520px) -496px, calc(50% + 462px) calc(100% + 632px);;
}

.card {
    background-color: white;
    /* TEST*/
    text-align: center;
    background-image: url(./images/bg-pattern-card.svg);
    background-repeat: repeat-x;
    width: 350px;
    /* max-width: 350px; */
    /* min-width: 350px; */
    border-radius: 15px;
    z-index: 10;
}

.profile_img {
    border-radius: 50%;
    box-shadow: 0 0 0 5px white; /* outhaline radius not working for chrome*/
    text-align: center;
    margin: 0 auto;
}

.profile_info {
    margin-top: 7em;
    margin-bottom: 1.9em;
}

.profile_name {
    padding-top: 1.25em;
    padding-bottom: 0.5em;
}

.age {
    color: var(--dark-gray);
    font-weight: 400;
}

.profile_details {
    padding: 1.6em 0;
    display: flex;
    justify-content: space-evenly;
}

.profile_name, .detail_title {
    color: black;
    font-weight: 700;
    font-size: var(--fs);
}

/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
    html {
        scroll-behavior: initial;
    }
}